<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="https://bootswatch.com/darkly/bootstrap.min.css">	
  <title>RailsEvents</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">@Events - User: <%= session[:first_name]%></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        
        <li><a href="/events">Events Dashboard</a></li>
        <li><a href="/users/<%=session[:user_id] %>/edit">Edit Profile</a></li>
        
        
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>

        	<% if current_user %>
        	<%= link_to "Logout", signout_path, method: 'delete' %>
        	<% end %>

        </li>
      </ul>
    </div>
  </div>
</nav>

<% if flash[:errors] %>
  <%= flash[:errors] %>
<% end %>

<div class="jumbotron">




<%= yield %>
</div>
</div>
</body>
</html>
